
.App {
  text-align: center;
}

nav {
    background: black;
}

.App-header {
  background-color: #222;
  height: 20%;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 3rem;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
}





