
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

body {
    /*background-image: url("./utils/App/Images/image2.jpeg");*/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    /* Ensure div tag stays behind content; -999 might work, too. */

}

.cd-fixed-bg {
    min-height: 50vh;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: white;
    font-size: 20px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    padding: 50px;
}

.cd-fixed-bg.cd-fixed-bg--1 {
    background-color: C0C0C0;
    color: red;
    margin-top: 35%;
    min-height: 30;
    max-height: auto;
    transition: transform .2s; 
}
/*
.cd-fixed-bg.cd-fixed-bg--1: hover {
    transform: scale(1.0);
}

*/

.cd-fixed-bg.cd-fixed-bg--2 {
    background-color: C0C0C0;
    color: red;
    transition: transform .2s; 
    padding: 60px;
}
.cd-scrolling-bg {
    min-height: 90%;
    background-image: url("./utils/App/Images/image3.jpeg");
}


.cd-fixed-bg.cd-fixed-bg--3 {
    background-color: C0C0C0;
    color: red;
    font-size: 1.6rem;
    transition: transform .2s; 
}

.cd-fixed-bg.cd-fixed-bg--4 {
    background-color:C0C0C0;
    font-size: 1.6rem;
    font-family: roboto, sans-serif;
    transition: transform .2s; 
}

.cd-fixed-bg.cd-fixed-bg--5 {
    background-image: url("./utils/App/Images/image1.jpeg");
}

.cd-fixed-bg.cd-fixed-bg--6 {
    background-image: url("./utils/App/Images/image2.jpeg");
}

.cd-fixed-bg.cd-fixed-bg--7 {
    background-image: url("./utils/App/Images/image3.jpeg");
}

.justify-content-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}

.flex-column {
    -ms-flex-direction: column!important;
    flex-direction: column!important;
}

.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}