.card {
  background: #fff;
  height: auto;
  margin: 1rem;
  position: relative;
  max-width: 425px;
  width: 100%;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
}

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.5rem;
}

.card > .content:hover {
  cursor: pointer;
}

.card > .content > ul {
  list-style-type: none;
}

.card > .content > ul > li {
  margin-top: 18px;
}

.card > .remove {
  color: #33bbff;
  font-size: 40px;
  position: absolute;
  top: -20px;
  right: 5px;
  cursor: pointer;
}

.card > .remove:hover {
  color: #d50000;
  
}
