.wBudget .form-control {
	max-width: 20%;
	margin-left: 0px;


}

.wBudget, .quantityNeeded, .newUser {
	align-items: center;
	margin-top: 15px;
	text-align: left;

}

form {
	padding: 15px;

}



h2, label {
	margin-right: 18px;
	margin-left: 26px;
}

.submit {
	padding: 5px 100px;
	text-align: center;
	background: gray;
	margin-left: 26px;
}


